$radius: 10px;

.cards {
  border-radius: $radius;
  border: 2px solid black;
  background-color: white;
  // height: 90%;
  // width: 100%;
  // overflow: hidden;

  // .text {
  //   opacity: 0;
  // }
  // :hover {
  //   .text {
  //     opacity: 1;
  //   }
  // }
}

.content {
  padding: 10px;
}

.img {
  border-radius: $radius $radius 0 0;
}

.badge {
  top: 20px;
  right: 20px;
  font-size: 17px;
}
