.target {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.7);
  border: solid 0.5px black;
  padding: 20px;
  padding-bottom: 3rem;
  max-width: 600px;
}

.title-card {
  font-weight: bold;
}

.detail-color {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}
