.navbar {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.nav-link {
  color: black !important;
}

.link_home {
  color: white !important;
  text-decoration: none;
}

.wiki-color {
  color: rgb(123, 189, 23);
  text-decoration: none;
}
