.input {
  width: 40%;
  border: 2px solid rgba(55, 248, 17, 0.6);
  border-radius: 8px;
  box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25);
  padding: 10px 15px;
  &:focus {
    outline: none;
  }
}

.btn {
  box-shadow: 1px 3px 9px rgba(55, 248, 17, 0.25);
  background-color: rgba(55, 248, 17, 0.6);
  border: 2px solid rgba(55, 248, 17, 0.6);
  color: black;

  &:hover {
    background-color: rgba(55, 248, 17, 0.8);
    border: 2px solid rgba(55, 248, 17, 0.6);
    color: black;
    font-weight: bold;
  }
}
@media (max-width: 576px) {
  .input {
    width: 80%;
  }
}
